PROJECT_NAME=DATABLOG
SECRET_KEY=123456
DATABASE_URL=postgresql+psycopg2://admin:123123@localhost:5436/blog
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=blog-images
MINIO_PUBLIC_URL=http://localhost:9000