services:
  db:
    image: postgres:13.2
    volumes:
      - ./docker/db:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123123
    ports:
      - "5436:5432"
    restart: unless-stopped
    networks:
      - datablog-net

  alembic:
    image: fastapi-base:latest
    environment:
      SQL_DATABASE_URL: 'postgresql+psycopg2://admin:123123@db:5432/blog'
      SECRET_KEY: ${SECRET_KEY}
    command: [ "alembic", "upgrade", "head" ]
    depends_on:
      - db
    networks:
      - datablog-net

  app:
    image: fastapi-base:latest
    environment:
      PROJECT_NAME: ${PROJECT_NAME}
      SQL_DATABASE_URL: 'postgresql+psycopg2://admin:123123@db:5432/blog'
      SECRET_KEY: ${SECRET_KEY}
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - db
      - alembic
    networks:
      - datablog-net

networks:
  datablog-net:
    driver: bridge