services:
  db:
    image: postgres:13.2
    volumes:
      - ./docker/db:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./scripts:/scripts
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123123
    ports:
      - "5436:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d blog" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - datablog-net

  # alembic:
  #   image: fastapi-base:latest
  #   environment:
  #     SQL_DATABASE_URL: "postgresql+psycopg2://admin:123123@db:5432/blog"
  #     SECRET_KEY: ${SECRET_KEY}
  #     PYTHONPATH: /app
  #   working_dir: /app
  #   command: [ "alembic", "upgrade", "head" ]
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   networks:
  #     - datablog-net

  app:
    image: fastapi-base:latest
    environment:
      PROJECT_NAME: ${PROJECT_NAME}
      SQL_DATABASE_URL: "postgresql+psycopg2://admin:123123@db:5432/blog"
      SECRET_KEY: ${SECRET_KEY}
    ports:
      - "8001:8001"
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      alembic:
        condition: service_completed_successfully
    networks:
      - datablog-net

networks:
  datablog-net:
    driver: bridge
